@page
@model OAUthSysToSys.Pages.SysToSysCallModel
@{
    ViewData["Title"] = "System To System Call";
}

<h1>System To System Call - Using OAuth Client Credentials Flow</h1>

<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8 alert-warning">--- LEARNING ONLY - NEVER EVER display an Access Token ---</div>
    </div>
    <div class="row">
        <div class="col-2">Logged in Status:</div>
        <div class="col-2">@Model.AuthStatus</div>
        <div class="col-2">Access Token:</div>
        <div class="col-6">@Model.AuthAccessToken</div>
    </div>
    <div class="row">
        <div class="col-2">Token End Point:</div>
        <div class="col-10">@Model.AuthEndPoint</div>
    </div>
    <div class="row">
        <div class="col-2">Any Errors:</div>
        <div class="col-10">@Model.ErrText</div>
    </div>
    <div class="row">
        <div class="col-2">API Call Status:</div>
        <div class="col-10">@Model.ResResponse</div>
    </div>
    <div class="row">
        <div class="col-2">API Response Content:</div>
        <div class="col-10"><iframe srcdoc="@Model.ResContent"></iframe></div>
    </div>
</div>